body {
  text-align: center;
  border: solid black 2px;
  padding: 0.5em;
}

#main-title {
  background-color: black;
  color: white;
}

.reel-img {
  width: 50vw;
}

.description {
  color: white;
  background-color: black;
  padding: 1em;
}

#best-movies-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1em;
}

li {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 1em;
  margin: 0.5em;
}
